body{
  font-family: "Roboto";
  margin: auto;
  background-color: #e5e5e5;
}
P{
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.15;
}
h1{
  font-size: 24px;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0;
}
h2{
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.15;
}
.Picturelist{
  list-style-type: none;
}
.headerClass{
  width:100%;
  display: inline-block;
  background-color: #1565c0;
  color: #ffffff;
  padding: 16px;
   box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
li{
  float:left;
  margin-left: 100px;
}
a:visited{
  color: #ffffff;
}
a:link{
  color: #ffffff;
}
