@import "@material/button/mdc-button";
body{
  margin: auto;
  font-family: "Roboto";
  background-color: #e5e5e5;
}
.content{
  max-width: 960px;
  margin: auto;
}
P{
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.15;
}
h1{
  font-size: 24px;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0;
}
h2{
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.15;
}
.card{
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  margin: 1rem;
  position: relative;
  padding: 16px;
  display: block;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  align-self: center;
  align-items: center;

}
li{
  float:left;
  margin-left: 100px;
}
.subs{
  float: right;
  margin-right: 16px;
  margin-bottom: 16px;
}
.menu{
  float: left;
  margin-left: 16px;
}
input{
  font-size:18px;
  padding:10px 10px 10px 5px;
  border:none;
  border-bottom:1px solid #757575;
}
button{
  position: relative;
  height: 32px;
  padding: 0;
  overflow: hidden;
  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);

  background-color: #2ecc71;
  color: #ecf0f1;

  transition: background-color .3s;
}
.headerClass{
  width:100%;
  display: inline-block;
  background-color: #1565c0;
  color: #ffffff;
  padding: 16px;
   box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
a:visited{
  color: #ffffff;
}
a:link{
  color: #ffffff;
}
.boxl{
  float:left;
}
.boxr{
  float:right;
}
.picCont{
  display: block;
  min-height: 275px;
}
